<div class="custom-slider-wrapper">
  <slider-component class="slider-mobile-gutter{% if full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <ul
      id="Slider-{{ section_id }}"
      data-id="{{ section_id }}"
      class="grid product-grid contains-card contains-card--product{% if card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ columns_desktop }}-col-desktop{% if current_collection == blank %} grid--2-col-tablet-down{% else %} grid--{{columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
      role="list"
      aria-label="{{ 'general.slider.name' | t }}"
    >
      {% assign skip_card_product_styles = false %}
      {%- if current_collection.products.size > 0 -%}
        {% paginate current_collection.products by products_to_show %}
          {%- for product in current_collection.products limit: products_to_show -%}
            <li
              id="Slide-{{ section_id }}-{{ forloop.index }}"
              class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: image_ratio,
                image_shape: image_shape,
                show_secondary_image: show_secondary_image,
                show_vendor: show_vendor,
                show_rating: show_rating,
                skip_styles: skip_card_product_styles,
                section_id: section_id,
                quick_add: quick_add
              %}
            </li>
            {%- assign skip_card_product_styles = true -%}
          {%- endfor -%}
        {% endpaginate %}
      {%- else -%}
        {%- for i in (1..columns_desktop) -%}
          <li
            class="grid__item{% if animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% liquid
              assign ridx = forloop.rindex
              case ridx
                when 5
                  assign ridx = 1
                when 6
                  assign ridx = 2
              endcase
            %}
            {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
            {% render 'card-product',
              show_vendor: show_vendor,
              media_aspect_ratio: image_ratio,
              image_shape: image_shape,
              placeholder_image: placeholder_image
            %}
          </li>
        {%- endfor -%}
      {%- endif -%}
    </ul>
    {%- if show_mobile_slider or show_desktop_slider -%}
      <div class="custom-slider-side-nav">
        <button
          type="button"
          class=" slider-button--prev custom-slider-button--side custom-slider-button--left"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
          aria-controls="Slider-{{ section_id }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-arrow.svg' | inline_asset_content -}}
          </span>
        </button>
        <button
          type="button"
          class="slider-button--next custom-slider-button--side custom-slider-button--right"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
          aria-controls="Slider-{{ section_id }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-arrow.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    {%- endif -%}
  </slider-component>
</div>
