{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    {%- liquid
                      assign title = childlink.title | downcase
                    %}
                    <li class="{% if title == 'featured collection' or title == 'about us' or title == 'the off the glass team' %}mega-menu-image{% endif %}">
                      {% if childlink.title != '#' %}
                        {% if title == 'featured collection' %}
                          {% if section.settings.featured_collection_image != null %}
                            <div class="featured-collection-container color-{{ section.settings.featured_collection_color }}">
                              <a href="{{ section.settings.featured_collection.url }}" class="link-over-image">
                                {% if section.settings.featured_collection_image != blank %}
                                  <img
                                    src="{{ section.settings.featured_collection_image | image_url }}"
                                    alt="Featured Collection"
                                    class="fit-cover"
                                    width="{{ section.settings.featured_collection_image.width }}"
                                    height="{{ section.settings.featured_collection_image.height }}"
                                  >
                                  <div class="image-text-overlay">
                                    <h2>{{ section.settings.featured_collection_heading }}</h2>
                                    <p>{{ section.settings.featured_collection_text }}</p>
                                  </div>
                                {% endif %}
                              </a>
                            </div>
                          {% endif %}
                        {% elsif title == 'about us' %}
                          <div class="featured-collection-container color-{{ section.settings.featured_collection_color }}">
                            <a href="{{ childlink.url }}" class="link-over-image">
                              {% if section.settings.about_us_image != blank %}
                                <img
                                  src="{{ section.settings.about_us_image | image_url }}"
                                  alt="Featured Collection"
                                  class="fit-cover"
                                  width="{{ section.settings.about_us_image.width }}"
                                  height="{{ section.settings.about_us_image.height }}"
                                >
                                <div class="image-text-overlay">
                                  <h2>{{ childlink.title | escape }}</h2>
                                </div>
                              {% endif %}
                            </a>
                          </div>
                        {% elsif title == 'the off the glass team' %}
                          <div class="featured-collection-container color-{{ section.settings.featured_collection_color }}">
                            <a href="{{ childlink.url }}" class="link-over-image">
                              {% if section.settings.team_image != blank %}
                                <img
                                  src="{{ section.settings.team_image | image_url }}"
                                  alt="Featured Collection"
                                  class="fit-cover"
                                  width="{{ section.settings.team_image.width }}"
                                  height="{{ section.settings.team_image.height }}"
                                >
                                <div class="image-text-overlay">
                                  <h2>{{ childlink.title | escape }}</h2>
                                </div>
                              {% endif %}
                            </a>
                          </div>
                        {% else %}
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                        {%- endif %}
                      {%- endif %}
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            {%- liquid
                              assign grandchild_title = grandchildlink.title | downcase
                            %}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}{% if grandchild_title == 'sale' %} mega-menu__link_sale{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
