<div class="testimonial">
  <div>
    {{- 'icon-qoute.svg' | inline_asset_content -}}
    <p class="description">{{ text }}</p>
  </div>
  <div>
    <p class="customer">
      {{ customer_name }}
    </p>
    <p class="credentials">
      {{ credentials }}
    </p>
    {{- 'icon-qoute.svg' | inline_asset_content -}}
  </div>
</div>
